.dropdown-cols-2 {
    .dropdown-menu {
      min-width: 400px;
      & > div {
        float: left;      
        padding: 10px 20px;  
      }
      ul {
        margin: 0;  
        padding: 0; 
      }
      li {
        list-style: none;
      }      
    }  
    @media screen and (max-width: 767px) {
      .dropdown-menu {
        min-width: 140px;
      }
    }
  }
  
  
  /* --------------------------------------------
  Presentational stuff
  ---------------------------------------------*/
  $base: #666;
  
  body {
    font-family: 'Lato', sans-serif;
  }
  .dropdown-cols-2 {
    .dropdown-menu {
      h6 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
      }  
    }
    a {
      color: $base;
    }  
  }