h2 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  .upload-file {
    /* float: left; */
    width: 100%;
  }
  .upload-file .upload-wrapper {
    /* float: left; */
    width: 80%;
  }
  .upload-file .upload-wrapper label {
    /* float: left; */
    width: 100%;
    border-radius: 10px;
    /* padding: 250px 40px 5px 40px; */
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 0px hsl(216, 52%, 39%), -1px -1px 0px #101457;
  }
  .upload-file .upload-wrapper label > input[type=file] {
    display: none;
  }
  .upload-file .upload-wrapper label p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
  }
  .upload-file .upload-wrapper label p a {
    font-weight: 700;
    color: #007bff;
  }
  
  #image-gallery {
    float: left;
    width: 100%;
    margin-top: 5px;
  }
  #image-gallery .thumb-Images {
    float: left;
    width: 100%;
  }
  #image-gallery .thumb-Images li {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    /* padding: 10px 10px; */
    margin-bottom: 30px;
    position: relative;
    box-shadow: -1px -1px 0px #235bf3, 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  #image-gallery .thumb-Images li .file-info {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
  }
  #image-gallery .thumb-Images li .img-wrap {
    margin-right: 10px;
  }
  #image-gallery .thumb-Images li .img-wrap img.thumb {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
  #image-gallery .thumb-Images li .img-wrap .close {
    position: absolute;
    right: 12px;
    color: red;
  }
  #image-gallery .thumb-Images li .img-wrap .close i {
    font-size: 10px;
  }
  
  #image-gallery .thumb-Images {
    float: left;
    width: 100%;
  }
  #image-gallery .thumb-Images li {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    /* padding: 10px 10px; */
    margin-bottom: 30px;
    position: relative;
    box-shadow: -1px -1px 0px #235bf3, 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  #image-gallery .thumb-Images li .file-info {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
  }
  #image-gallery .thumb-Images li .img-wrap {
    margin-right: 10px;
  }
  #image-gallery .thumb-Images li .img-wrap img.thumb {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
  #image-gallery .thumb-Images li .img-wrap .close {
    position: absolute;
    right: 12px;
    color: red;
  }
  #image-gallery .thumb-Images li .img-wrap .close i {
    font-size: 10px;
  }
  
  
  /*# sourceMappingURL=style.css.map */
  