h2{
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .upload-file{
    float: left;
    width: 100%;
    .upload-wrapper{
      float: left;
      width: 100%;
      label{
        float: left;
        width: 100%;
        border-radius: 10px;
        padding: 250px 40px 5px 40px;
        text-align: center;
        background: url(images/2813838.jpg) top center no-repeat #fff;
        background-size: 300px;
        position: relative;
        box-shadow: 10px 10px 0px #ffbe32, -10px -10px 0px #32adff;
        > input[type="file"]{
          display: none;
        }
        p{
          font-size: 20px;
          font-weight: 300;
          margin-top: 50px;
          a{
            font-weight: 700;
            color: #007bff;
          }
        }
      }
    }
  }
  #image-gallery {
    float: left;
    width: 100%;
    margin-top: 20px;
    .thumb-Images {
      float: left;
      width: 100%;
  
      li {
        float: left;
        width: 100%;
        background: #fff;
        border-radius: 10px;
        display: flex;
        padding: 10px 10px;
        margin-bottom: 30px;
        position: relative;
        box-shadow: -10px -10px 0px #ffbe32, 10px 10px 10px rgba(0, 0, 0, 0.1);
  
        .file-info {
          display: inline-block;
          font-size: 15px;
          font-weight: 400;
          width: 70%;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 30px;
        }
  
        .img-wrap {
          margin-right: 10px;
          img.thumb{
            height: 30px;
            width: 30px;
            border-radius: 30px;
            margin-left: 5px;
            cursor: pointer;
            box-shadow: 0 1px 1px rgba(0,0,0,0.15);
          }
          .close{
            position: absolute;
            right: 12px;
            color: red;
            i{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  
  .files-area{
      width: 100%;
      margin: 0 auto;
  }
  .file-block{
    padding-right: 5px;
      border-radius: 10px;
      background-color: rgba(119, 161, 252, 0.329);
      margin: 5px;
      color: initial;
      display: inline-flex;
      & > span.name{
          padding: 10px;
          width: max-content;
          display: inline-flex;
      }
  }
  .file-delete{
    border-radius: 10px;
    align-items: center;
    padding: 1px;
      display: flex;
      width: 20px;
      color: white;
      background-color: #0a1a2bbd;
      font-size: 15px;
      justify-content: center;
      margin-right: 3px;
      cursor: pointer;
      &:hover{
          background-color: rgba(144, 163, 203, 0.2);
          border-radius: 10px;
      }
      & > span{
          transform: rotate(45deg);
      }
  }
  
  
  